<%= turbo_frame_tag "cart" do %>
  <div class="dropdown-cart" id="cart-menu">
    <% if @cart.orderables.count > 0 %>
      <div class="dropdown-cart__item">
        <%= render "carts/orderables" %>
      </div>
      <hr>
      <p>Total: <%= @cart.total %></p>
      <%= link_to "Create order", new_order_path, data: { turbo_frame: "_top" } %>
      <%= link_to "View cart", cart_path, data: { turbo_frame: "_top" } %>
    <% else %>
      <p>Your cart is empty</p>
    <% end %>
  </div>
<% end %>
