<div class="product-container" id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <%= image_tag product.image %>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock quantity:</strong>
    <%= product.stock_quantity %>
  </p>

  <p>
    <strong>Blade material:</strong>
    <%= product.blade_material %>
  </p>

  <p>
    <strong>Blade length:</strong>
    <%= product.blade_length %>
  </p>

  <p>
    <strong>Blade thickness:</strong>
    <%= product.blade_thickness %>
  </p>

  <p>
    <strong>Handle material:</strong>
    <%= product.handle_material %>
  </p>

  <p>
    <strong>Handle length:</strong>
    <%= product.handle_length %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= product.weight %>
  </p>

  <p>
    <strong>Knife type:</strong>
    <%= product.knife_type %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

  <%= form_with(url: cart_add_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <%= f.submit "Add To Cart" %>
  <% end %>


</div>
