<div class="product" id="<%= dom_id product %>">
  
  <%= image_tag product.image, class:"product__image" if product.image.attached?%>

  <div class="product__name"><%= product.name %></div>
  <div class="product__price">$<%= product.price %></div>

  <%= link_to "Show this product", product, class:"btn_primary product__btn" %>

</div>
