
<div class="product-show">
  <div class="product-show__container container">

    <% if current_user && current_user.role == "admin" %>  
      <div class="admin-buttons">
        <%= link_to "Edit this product", edit_product_path(@product), class:"button button-edit" %>
        <%= button_to "Destroy this product", @product, method: :delete, class:"button button-delete" %>
      </div>
    <% end %>  
    <div class="product-show__wrap">
      <%= image_tag @product.image, class:"product-show__image" if @product.image.attached?%>
      <div class="product-show__info">
        <h1 class="product-show__title"><%= @product.name %></h1>
        <p class="product-show__price">$<%= @product.price %></p>

        <%= form_with(url: cart_add_path, method: :post, local: true, data: { turbo: false }) do |f| %>
          <%= f.hidden_field :id, value: @product.id %>
          <%= f.submit "Buy", class:"btn_primary buy_btn"%>
        <% end %>

        <hr>
        <h2>Dimension</h2>
        <p class="product-show__p">
          Blade: <%= @product.blade_material %> <br>
          Blade length – <%= @product.blade_length %>mm <br>
          Blade thickness – <%= @product.blade_thickness %>mm <br>
          Handle: <%= @product.handle_material %> <br>
          Handle length –<%= @product.handle_length %>mm <br>
          Weight: <%= @product.weight %>g <br>
          Knife type: <%= @product.knife_type %><br>
          Brand: <%= @product.brand %> <br>
        </p> 
        
        <p class="product-show__p"><%= @product.description %></p>
      </div>
    </div>

    <div class="product-show__box">
      <h2>Description</h2>
      <%= @product.content %>
    </div>

    <div class="product-show__box">
      <h2>Add a new review</h2>

      <div class="comment-form">
        <% if user_signed_in?%>
          <%= form_with model: [@product, @product.reviews.build] do |form| %>

            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.label "Your rating: " %>
            <%= form.number_field :rating, min: 1, max: 5 %>
            <%= form.text_area :content, placeholder: "Your review" %>
            <%= form.submit "Add review" %>
            
          <% end %>

        <% else %>
          <div class="product-show__p">To leave a review you must be logged in.</div>
        <% end %>
      </div>
    </div>

    <div class="product-show__box">
      <h2>Reviews</h2>
        <% @reviews.each do |review| %> 
          <hr>
          <% if review.user %>
            <div class="product-show__user-email"><%= review.user.email %> - <%= review.created_at %> </div> 
            <p class="product-show__p">Rating <%= review.rating %> out of 5</p>

            <p class="product-show__p"><%= review.content %></p> 
          <% end %>
        <% end %>  
    </div>
  </div>
</div>

