<!DOCTYPE html>
<html>
  <head>
    <title>SharpEdge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%if user_signed_in?%>
      <div>asdf</div>
    <%else%>
      <div>112</div>
    <%end%>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <div class="container">
        <h1 class="logo"><a href="#">Knife Shop</a></h1>
        <nav>
          <ul>
            <li><%=link_to "Home", root_path%></li>
            <li><%=link_to "Products", products_path%></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="#">Корзина</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
